.link{
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    font-weight: 700;
    font-size: large;
}

.main{
    text-align: center;
}

.home{
    height: 600px;
    background-color: antiquewhite;
}
.Services{
    height: 600px;
    background-color:aqua;
}
.Blog{
    height: 600px;
    background-color:blue;
}
.Contact{
    height: 600px;
    background-color:chartreuse;
}
.btn{
    position: fixed;
    bottom: 15px;
    right: 20px
}

