.carousel{
    width: 100%;
    display: flex;
   justify-content: center;
    align-items: center;
}

.carousel > button{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}

.slide > img{
        width: 800px; 
        height: 400px; 
    
}