
.color-change1{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: black;
    margin-left: 400px;
}

.color-change2{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: black;
    margin-left: 400px;
}